$success: #502314;
$secondary: #FF8732;
$info: #198754;
$light:#F9F4ED;

@import "~bootstrap/scss/bootstrap";

* {
    font-family: "Alegreya Sans SC", sans-serif;
}

#sidebar-wrapper {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1000;
}

#page-content-wrapper {
    flex-grow: 1;
    margin-left: 220px;
}

#logout-wrapper {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}

.card .card:hover {
    box-shadow: 0px 15px 25px -15px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        width: 50px;
    }

    #sidebar-wrapper.active {
        width: 250px;
    }

    #page-content-wrapper {
        margin-left: 50px;
    }
}