$secondary: #EAA932;

@import "~bootstrap/scss/bootstrap";

#sidebar-wrapper {
    height: 100vh;
    width: 200px;
    position: fixed;
    z-index: 1000;
}

#page-content-wrapper {
    flex-grow: 1;
    margin-left: 200px;
}


main{
    // ...

    // Form style
    .container-form-section{
        padding: 50px 0;
        // debug
        background-color: #D1E7DD;

        .container-form{
            width: 50%;
            margin: 0 auto;
            padding: 50px 30px;
            background-color: #EAA932;
            border-radius: 20px;
            // debug
            color: white;
        }
    }
}