$success: #502314;
$secondary: #FF8732;
$info: #198754;
$dark: #E7DED3;

@import "~bootstrap/scss/bootstrap";

#sidebar-wrapper {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1000;
}

#page-content-wrapper {
    flex-grow: 1;
    margin-left: 220px;
}

#logout-wrapper {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}

@media (max-width: 767px) {
    #sidebar-wrapper {
        width: 50px;
    }

    #sidebar-wrapper.active {
        width: 250px;
    }

    #page-content-wrapper {
        margin-left: 50px;
    }
}